.tab {
    overflow: hidden;
  }
  
  .tab .tablinks {
    background-color: #eaeaea;
    float: left;
    border: none;
    margin-right: 1px;
    outline: none;
    cursor: pointer;
    padding: 14px 24px;
    transition: 0.3s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 600;
    letter-spacing: 0.8px;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #1d7fd8;
    color: #fafafa;
  }
  
  .tabcontent {
    display: none;
    padding: 10px 20px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    border-top-left-radius: 0px;
  }

  .tabcontent.active {
      display: block;
  }